.CanvasLoader {
    position: absolute;
    top: 35%;
    left: 35%;

    fill: #fff;
    animation: CanvasLoaderAnimate 1s linear infinite;
}

@keyframes CanvasLoaderAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



