.MainPage {
    
    margin: 40px;
}

.IncomeExpensiveMenu {
    display: flex;
    justify-content: space-around;
}
.FinanceLine {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.Incomes {
    color: #fff;
    font-size: 25px;
}

.Expensive {
    color: #fff;
    font-size: 25px;
}

.active {
    border-bottom: 2px solid #fff;
}


