

.Form {
    margin: 0 auto;
    margin-top: 50px;
    width: 65%;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.Button {
    margin-top: 30px;
}
